:root{
    --font-family: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --white-color-60: rgba(255,255,255,0.6);
    --white-background-button: #F5F4FA
}

/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* синий цвет #2196F3 */
/* белый цвет #FFFFFF */
/* белый цвет #FFFFFF */
/* background color F5F5F5 */

body {
    background-color: #F5F5F5;
    color: var(--font-family);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* Logo */

.logo-web {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.list {
    list-style: none;
}

/* site-nav and auth-nav*/
.site-nav .link,
.auth-nav .link {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}

.site-nav .link-blue:hover,
.site-nav .link-blue:focus, 
.auth-nav .link-blue:hover,
.auth-nav .link-blue:focus{
    color: var(--accent-color);
}

/* Section замовити послугу button */
.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-posluga {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }

   /* <!-- Section особливости --> */

.features .title-h2-merits {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.title-h3-details,
.title-h3-timeliness,
.title-h3-plan,
.title-h3-tehnology{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text,
.features .text-timeliness,
.features .text-plan,
.features .text-tehnology{
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* Section Чим ми займаємося и h2 наша команда */

.section-title, .title,
.title-h2-team
{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Section Наша команда */

.title-h3-igor,
.title-h3-olga,
.title-h3-micola,
.title-h3-mihailo{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.product-designer,
.frontend-developer,
.marketing,
.designer {
     color: var(--font-family);
    font-size: 16px;
    line-height: 1.19;
}

/* Section footer */

.address .location {
    color: var(--white-color);
    background: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-tel, .address-mail {
color: var(--white-color-60);
background: #2F303A;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}


/* Page 2 */

/* Section navigation button */

.port-buttons {
    color: var(--font-family);
    background: var(--white-background-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.sort:hover,
.sort:focus {
    color: var(--white-color);
    background-color: var(--accent-color)
}

/* Section portofolio image */

.title-h3-comp,
.title-h3-poster,
.title-h3-seafood,
.title-h3-prime,
.title-h3-boxes,
.title-h3-inspirations,
.title-h3-book,
.title-h3-notebook
 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.text-comp,
.text-poster,
.text-seafood,
.text-prime,
.text-boxes,
.text-inspirations,
.text-book,
.text-bookmark,
.text-notebook {
    color: var(--font-family);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}